<form action="/courses" method="POST" class="form">
  <input
    type="text"
    name="courseName"
    placeholder="your course name"
    required
  />
  <input
    type="text"
    name="courseDiscription"
    placeholder="discribe your course"
    required
  />
  <input
    type="number"
    name="students"
    placeholder="number of students"
    required
  />
  <button type="submit" class="btn">submit request</button>
</form>
